In [566]:
import pandas as pd

# pd.set_option('future.no_silent_downcasting', True)

In [567]:
df = pd.read_csv('train.csv')
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.0,1,0,PC 17485,56.9292,A20,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.0,0,1,24160,211.3375,B5,S
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S

In [568]:
y = df['Survived']

In [569]:
x = df.drop(['Survived','PassengerId'],axis=1)

In [570]:
from sklearn.model_selection import train_test_split

In [571]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [572]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [573]:
df.shape

(891, 12)

In [574]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [575]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [576]:
df.shape

(891, 12)

In [577]:

def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Uknown'


titles = sorted(set([x for x in df.Name.map(lambda x: get_title(x))]))
print('different titles found on the dataset')
print(len(titles), ':', titles)
print()

different titles found on the dataset
17 : ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess']

In [578]:
def replace_titles(x):
    title = x['Title']
    if title in ['Capt', 'Col', 'Major']:
        return 'Officer'
    elif title in ['Jonkheer', "Don", "The Countess", 'Dona', "Lady", "Sir"]:
        return 'Royalty'
    elif title in ['Mme', 'Lady', 'the Countess']:
        return "Mrs"
    elif title in ['Mlle', 'Ms']:
        return "Miss"
    else:
        return title

In [579]:
df['Title'] = df['Name'].map(lambda x: get_title(x))

In [580]:
df['Title'] = df.apply(replace_titles, axis=1)
print(df.Title.value_counts())

Title
Mr         517
Miss       185
Mrs        127
Master      40
Dr           7
Rev          6
Officer      5
Royalty      4
Name: count, dtype: int64

In [581]:
df['Age'].fillna(df['Age'].median() )
df['Fare'].fillna(df['Fare'].median())
df['Embarked'].fillna(df['Embarked'].mode()[0])  # Fill with mode (most frequent value)
df = df.drop(['Cabin', 'Ticket', 'Name'], axis=1)
sex_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].replace(sex_mapping)
embarked_mapping = {'S': 0, 'C': 1, 'Q': 2}
df['Embarked'] = df['Embarked'].replace(embarked_mapping)
title_mapping = {'Mr': 0, 'Miss': 1, 'Mrs': 2, 'Master': 3, 'Dr': 4, 'Rev': 5, 'Officer': 6, 'Royalty': 7}
df['Title'] = df['Title'].replace(title_mapping)
print(df.isnull().sum())
print(df['Sex'].sample(50))
print(df['Embarked'].sample(5))
print(df.columns)  # Fixed typo

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
Title            0
dtype: int64
636    0
843    0
369    1
481    0
569    0
597    0
610    1
732    0
778    0
241    1
829    1
509    0
181    0
890    0
411    0
546    1
874    1
840    0
728    0
474    1
881    0
524    0
521    0
815    0
592    0
510    0
861    0
161    1
126    0
536    0
115    0
716    1
94     0
446    1
763    1
328    1
800    0
64     0
877    0
856    1
256    1
33     0
40     1
50     0
347    1
626    0
456    0
396    1
174    0
201    0
Name: Sex, dtype: object
411    2
657    2
115    0
70     0
230    0
Name: Embarked, dtype: object
Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'Title'],
      dtype='object')

In [582]:
print(df.dtypes)
# print(df.Title.value_counts())

corr = df.corr()
corr.Survived.sort_values(ascending=False)

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
Title           object
dtype: object

Survived       1.000000
Sex            0.543351
Title          0.360843
Fare           0.257307
Embarked       0.108669
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64