In [143]:
import pandas as pd

# pd.set_option('future.no_silent_downcasting', True)

In [144]:
df = pd.read_csv('train.csv')
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
516,517,1,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.50,F33,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.05,NaN,S
539,540,1,1,"Frolicher, Miss. Hedwig Margaritha",female,22.0,0,2,13568,49.50,B39,C
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.05,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.80,NaN,S

In [145]:
y = df['Survived']

In [146]:
x = df.drop(['Survived','PassengerId'],axis=1)

In [147]:
from sklearn.model_selection import train_test_split

In [148]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [149]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [150]:
df.shape

(891, 12)

In [151]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [152]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [153]:
df.shape

(891, 12)

In [154]:

def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Uknown'


titles = sorted(set([x for x in df.Name.map(lambda x: get_title(x))]))
print('different titles found on the dataset')
print(len(titles), ':', titles)
print()

different titles found on the dataset
17 : ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess']

In [155]:
def replace_titles(x):
    title = x['Title']
    if title in ['Capt', 'Col', 'Major']:
        return 'Officer'
    elif title in ['Jonkheer', "Don", "The Countess", 'Dona', "Lady", "Sir"]:
        return 'Royalty'
    elif title in ['Mme', 'Lady', 'the Countess']:
        return "Mrs"
    elif title in ['Mlle', 'Ms']:
        return "Miss"
    else:
        return title

In [156]:
df['Title'] = df['Name'].map(lambda x: get_title(x))

In [157]:
df['Title'] = df.apply(replace_titles, axis=1)
print(df.Title.value_counts())

Title
Mr         517
Miss       185
Mrs        127
Master      40
Dr           7
Rev          6
Officer      5
Royalty      4
Name: count, dtype: int64

In [158]:
df['Age'].fillna(df['Age'].median() )
df['Fare'].fillna(df['Fare'].median())
df['Embarked'].fillna(df['Embarked'].mode()[0])  # Fill with mode (most frequent value)
df = df.drop(['Cabin', 'Ticket', 'Name'], axis=1)
sex_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].replace(sex_mapping)
embarked_mapping = {'S': 0, 'C': 1, 'Q': 2}
df['Embarked'] = df['Embarked'].replace(embarked_mapping)
title_mapping = {'Mr': 0, 'Miss': 1, 'Mrs': 2, 'Master': 3, 'Dr': 4, 'Rev': 5, 'Officer': 6, 'Royalty': 7}
df['Title'] = df['Title'].replace(title_mapping)
print(df.isnull().sum())
print(df['Sex'].sample(50))
print(df['Embarked'].sample(5))
print(df.columns)  # Fixed typo

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
Title            0
dtype: int64
102    0
458    1
13     0
9      1
290    1
540    1
515    0
352    0
223    0
818    0
637    0
221    0
390    0
825    0
113    1
226    0
821    0
182    0
723    0
745    0
658    0
356    1
326    0
804    0
558    1
819    0
54     0
183    0
225    0
652    0
829    1
449    0
252    0
238    0
224    0
862    1
883    0
551    0
95     0
47     1
724    0
397    0
50     0
457    1
330    1
563    0
670    1
216    1
684    0
879    1
Name: Sex, dtype: int64
16     2.0
588    0.0
471    0.0
845    0.0
619    0.0
Name: Embarked, dtype: float64
Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'Title'],
      dtype='object')

C:\Users\F_ben\AppData\Local\Temp\ipykernel_25068\1202492960.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'] = df['Sex'].replace(sex_mapping)
C:\Users\F_ben\AppData\Local\Temp\ipykernel_25068\1202492960.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Embarked'] = df['Embarked'].replace(embarked_mapping)
C:\Users\F_ben\AppData\Local\Temp\ipykernel_25068\1202492960.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Title'] = df['Title'].replace(title_mapping)

In [159]:
print(df.dtypes)
# print(df.Title.value_counts())

corr = df.corr()
corr.Survived.sort_values(ascending=False)

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked       float64
Title            int64
dtype: object

Survived       1.000000
Sex            0.543351
Title          0.360843
Fare           0.257307
Embarked       0.108669
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [160]:
from sklearn.model_selection import train_test_split

In [161]:
x = df.drop(['Survived', 'PassengerId'], axis =1)
y = df['Survived']
x_train, x_val, y_train, y_val = train_test_split(x,y, test_size =0.1)

In [162]:
import pickle
from sklearn.ensemble import RandomForestClassifier  # Corrected import
from sklearn.metrics import accuracy_score

# Assuming x_train, y_train, x_val, y_val are defined
randomforest = RandomForestClassifier()
randomforest.fit(x_train, y_train)
y_pred = randomforest.predict(x_val)
acc_randomforest = round(accuracy_score(y_pred, y_val) * 100, 2)  # Corrected typo in accuracy_score
print('Accuracy :',acc_randomforest)

# Saving the model to a file
pickle.dump(randomforest, open('titanic_model.sav', 'wb'))  # Corrected the mode in the open function

Accuracy : 80.0